@font-face {
    font-family: st;
    src: url(fonts/Steppe-Book.ttf);
}

html {
    box-sizing: border-box;
}


li {
    list-style: none;
}
a {
    text-decoration: none;
    color: black;
}

body {
    margin: 0;
    font-family: st,Arial,sans-serif;
    font-weight: 600;
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center bottom;
    background-image: url(images/back.jpg);
}

header {
    text-transform: uppercase;
    position: fixed;
    top: 0;
    z-index: 1000;
    width: 100%;
    font-size: 14px;
    padding: 10px 0px;
    backdrop-filter: blur(50px);
}

.logo {
    width: 50px;
    height: 50px;
    cursor: pointer;
}

.logo img {
    width: 100%;
    height: 100%;
}

.container  {
    margin: 0 auto;
    max-width: 1240px;
    padding: 0 20px;
}

.header__wrapper  {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.burger-checkbox {
    position: absolute;
    visibility: hidden;
  }

  .burger {
    position: relative;
    z-index: 1;
    cursor: pointer;
    display: none;
    position: relative;
    border: none;
    background: transparent;
    width: 40px;
    height: 26px;
  }

  .burger::before,
  .burger::after {
    content: '';
    left: 0;
    position: absolute;
    display: block;
    width: 100%;
    height: 4px;
    border-radius: 10px;
    background: #000;
  }

  .burger::before {
    top: 0;
    box-shadow: 0 11px 0 #000;
    transition: box-shadow .3s .15s, top .3s .15s, transform .3s;
  }

  .burger::after {
    bottom: 0;
    transition: bottom .3s .15s, transform .3s;
  }

  .burger-checkbox:checked + .burger::before {
    top: 11px;
    transform: rotate(45deg);
    box-shadow: 0 6px 0 rgba(0,0,0,0);
    transition: box-shadow .15s, top .3s, transform .3s .15s;
  }

  .burger-checkbox:checked + .burger::after {
    bottom: 11px;
    transform: rotate(-45deg);
    transition: bottom .3s, transform .3s .15s;
  }
  
  .menu-list {
    top: 0;
    left: 0;
    position: absolute;
    display: grid;
    align-content: center;
    gap: 12px;
    padding: 42px 0;
    margin: 0;
    background: rgba(231, 231, 231, 0.507);
    backdrop-filter: blur(70px);
    border-radius: 0px 10px 10px 0px;
    list-style-type: none;
    transform: translateX(-100%);
    transition: .5s;
    width: 70%;
    height: 100vh;
  }
  
  .menu-item {
    display: block;
    padding: 8px;
    color: rgb(51, 51, 51);
    font-size: 18px;
    text-align: center;
    text-decoration: none;
  }

  .menu-item:hover {
    background: rgba(255,255,255,.2)
  }

  .burger-checkbox:checked ~ .menu-list {
    transform: translateX(0);
  }

.nav-list {
    display: flex;
    justify-content: space-between;
    width: 400px;
}

.nav-item {
    cursor: pointer;
    transition: .4s;
    padding: 5px 15px;
    border-radius: 15px;
}

.nav-item:hover {
    background-color: rgba(233, 240, 240, 0.068);
}

.about {
    background-color: transparent;
    width: 100%;
    height: 180px;
    margin-top: 100px;
    padding: 20px;
    border-radius: 28px;
    backdrop-filter: blur(50px);
}


.portfolio {
  background-color: transparent;
  width: 98%;
  margin-top: 40px;
  padding: 20px 10px;
  border-radius: 28px;
  backdrop-filter: blur(50px);
}

.exemple_slider {
  width: 100%;
  height: 500px;
  background-color: #00000079;
  border-radius: 28px;
}

.swiper {
    width: 100%;
    height: 100%;
}

.swiper-slide {
  width: 50%;
  display: flex;
  border-radius: 20px;
}

.swiper-slide img{
  width: 100%;
  border-radius: 20px;
}

.products {
  padding: 0px 20px;
  margin-top: 50px;
}

.products_wrapper {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  gap: 30px;
}

.product {
  width: 300px;
  height: 350px;
  border-radius: 20px;
  padding: 20px;
  display:flex;
  flex-direction: column;
  justify-content: space-between;
  backdrop-filter: blur(50px);
  background-color: rgba(255, 255, 255, 0.075);
}

.product_img {
  width: 100%;
  height: 200px;
  border-radius: 10px;
}

.product_img img {
  width: 100%;
  height: 100%;
  border-radius: 10px;
}

.product_name {

}

.product_price {
  
}

.product_but {
  width: 100%;
  display: flex;
  justify-content: center;
}

.but_order {
  width: 150px;
  padding: 10px 30px;
  border-radius: 15px;
  border: 0;
  background-color: rgb(36, 69, 253);
  color: white;
  font-size: 18px;
  font-family: st;
  cursor: pointer;
  transition: .3s;
}

.but_order:hover {
  background-color: rgb(6, 35, 201);
}

footer {
  height: 200px;
  width: 100%;
}

.footer_wrapper {
  display: flex;
  flex-direction: column;
  align-items: center;
}

/* ... предыдущие стили ... */

.social-icons {
  margin-top: 15px;
  display: flex;
  gap: 20px;
}

.social-icons img {
  width: 30px; /* Размер иконок */
  height: 30px;
  margin: 0 5px; /* Отступ между иконками */
}

.social-icons a {
  text-decoration: none; /* Убираем подчеркивание у ссылок */
  filter: brightness(50%);
  transition: .3s;
}

.social-icons a:hover {
  filter: brightness(100%);
}

footer {
  background-color: #000325;
  color: #ffffff44;
  padding: 20px 0;
  margin-top: 50px; /* Добавить отступ сверху */
}

footer a {
  transition: .3s;
}

footer a:hover {
  color: rgba(240, 255, 255, 0.568);
}

.row {
  display: flex;
  flex-wrap: wrap;
}

.col {
  flex: 1 1 300px; /* Ширина колонок */
  padding: 0 15px;
  margin-bottom: 0px;
}

.col h3 {
  margin-top: 0;
  margin-bottom: 10px;
}

.col ul {
  list-style: none;
  padding: 0;
}

.col li {
  margin-bottom: 0px;
}

.col a {
  color: #ffffff4d;
  text-decoration: none;
}

.col a:hover {
  text-decoration: underline;
}

.copyright {
  text-align: center;
  padding: 10px 0;
  background-color: #000325;
}


@media (max-width: 530px) {

  .logo {
    width: 40px;
    height: 40px;
  }

    .nav-list {
        display: none;
    }

    .burger {
        display: block;
        width: 28px;
        height: 27px;
    }

    .about h2{
      font-size: 18px;
    }

    .about p{
      font-size: 14px;
    }

    .about {
      padding: 10px 20px;
      margin-top: 80px;
    }

    .portfolio h2{
      font-size: 18px;
    }

    .portfolio {
      padding: 10px;
      margin-top: 100px;
    }

  .exemple_slider {
    height: 350px;
  }

  .swiper-button-next {
    display: none;
  }

  .swiper-button-prev {
    display: none;
  }

}